.view-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top:1rem;
  padding-bottom:1rem;
}

.app-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.app-wrapper{
  height: 100%;
  overflow: auto;
  padding: 2rem 1.5rem;
  
}

.app-header {
  /* background-color: #282c34; */
  /* min-height: 100px; */
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.app-sidebar-container{
  border-right: #444261 2px solid;
  width: 6.5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}
.app-sidebar-container ul{
  list-style-type: none;
  padding: 0px;
}

.home-text-content{
  margin-bottom: 1.5rem;
}

.home-text-content h1{
  font-size: 2rem;
}

.home-text-content span{
  font-size: 0.8rem;
  color:#66657D
}

.app-sidebar-container li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:3vh;
  font-size:2rem;
  color:#747474;
  cursor: pointer;
}

.app-sidebar-container a{
  color:#747474;
  text-decoration:none
}

.app-sidebar-container .active{
  color:white;
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-sidebar-container .active::after{
  content: '';
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 7.5px;
  background-color: white;
  margin-top: 0.6rem;
}


.app-sidebar-logo img{
  width:3.5vw;
}

.app-sidebar-aboutus{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323149;
  border-radius:100%;
  width: 3.5vw;
  height: 3.5vw;
}

.app-sidebar-aboutus i{
  color:white;
  font-size:1.5rem;
}

.page-title-container{
  display: flex;
  justify-content: space-between;
}

.page-title-container h1{
  font-size: 1.5rem;
}

.page-table-container{
  margin-top: 1.5rem;
}

.newteam-modal-input-box{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.newteam-modal-input-box span{
  color:#808080;
  font-size: 1rem;
}

.newteam-modal-input-box p{
  color:#59567B;
  font-size: 0.75rem;
  font-weight: medium
}

.newteam-modal-description-input{
  min-height: 150px;
  width: 100%;
  border-radius: 10px;
  background-color:#282739;
  border-radius:5;
  padding: 0.5rem 1rem;
  color:white;
  border: none;
  resize: none;
  outline: none;
}

.newteam-modal-asset-input-box{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
  border-radius:5px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color:#282739;
  width:7rem
}

.newteam-modal-asset-input-box span{
  color:white;
  padding-bottom: 0.1rem;
}