.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-sidebar-container{
  border-right: #444261 2px solid;
  width: 6.5vw;
  top: 2.5vh;
  bottom: 2.5vh;
  /* height: 100vh; */
  position: fixed;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}
.App-sidebar-container ul{
  list-style-type: none;
  padding: 0px;
}

.App-sidebar-container li{
  padding:3vh;
  font-size:2rem;
  color:#747474;
  cursor: pointer;
}

.App-sidebar-container .active{
  color:white;
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-sidebar-container .active::after{
  content: '';
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 7.5px;
  background-color: white;
  margin-top: 0.6rem;
}


.App-sidebar-logo img{
  width:55px
}

.App-sidebar-aboutus{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323149;
  border-radius:100%;
  width: 3.5vw;
  height: 3.5vw;
}

.App-sidebar-aboutus i{
  color:white;
  font-size:1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header{
  position: fixed;
  width: 92vw;
  height: 100px;
  top: -43%;
  right: 0px;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
}
